NEXT_PUBLIC_SUPABASE_URL=https://fueutvtjvnamkcggmdvi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1ZXV0dnRqdm5hbWtjZ2dtZHZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3MTY2OTksImV4cCI6MjA5OTI5MjY5OX0.es6hxOL-tZOxRjuZ2Km_xR56iHkX6eiwLnycb6-KoAI
